<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- <link href="../static/css/style.css" rel="stylesheet"> -->
</head>
<body>
	{% block content%}
<h1 style="text-align: center;border: 5px solid red;margin-left: 250px;margin-right: 250px;padding-top: 5px;padding-bottom: 5px;margin-top: 275px;">{{msg}} </h1>
<!-- style="text-align: center;border: 5px solid red;margin-left: 250px;margin-right: 250px;" -->
{%endblock%}
</body>
</html>
