<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content%}
    <h2 style="text-align:center">Hello Abhishek!</h2>
    <br>
    <form action='\data' method="POST" style="text-align:center">
		<select name="content">
			{% for t in p %}
				<option value="{{t.title}}">{{t.title}}</option>
			{% endfor %}   
		</select>
        <input type="submit" value="Search">
    </form> 
    <!-- <iframe src={{slink}} title="Sample Page"></iframe> -->
	
		
	{%endblock%}  
</body>
</html>
